<script language="javascript">
alert("No File Uploaded! Please Upload a Valid File!")
</script>
<title>Machine Learning on Blog Feedback Data Set</title>
<style type="text/css">
body{ font-size:14px;}
input{ vertical-align:middle; margin:7; margin-bottom:4; padding:0}
.file-box{ position:relative;width:588px;padding:5;}
.txt{ height:30px; border:1px solid #cdcdcd; width:388px;}
.btn{ background-color:#2894FF; border:1px solid #2894FF;height:30px; width:70px; font-family:helvetica}
.file{ position:absolute; right:120px; filter:alpha(opacity:0);opacity: 0; height:30px; width:70px }
.download_btn{ display:block; height:30px; width:140px; border:1px solid #2894FF; background-color:#2894FF;}
.download_btn a { font-size: 15px; padding-top:5px; display: block; color: #ffffff;text-decoration:none; }
</style>
<body style="margin-top:50; margin-right:130; margin-left:130;width:630px">
<div style="background-color:#2894FF;width:8;height:57;float:left;margin-right:10"></div>
<div style="font-size:22px; font-family:helvetica; color:9D9D9D">Prediction for Number of Comments in the Upcoming 24 Hours
</div>
<div style="font-size:28px; font-family:impact;">Data Upload Page
</div>
<br>
<br>
<div style="border:1px solid #d0d0d0; width:588; padding:20; height:53;">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="file-box">
                <input type='text' name='textfield' id='textfield' class='txt' />
                <input type='button' class='btn' value='Browse...' style="color:white;"/>
                <input type="file" name="upload_file" class="file" id="upload_file" size="28" onchange="document.getElementById('textfield').value=this.value" />
                <input type="submit" name="submit" class="btn" value="Upload" style="color:white;"/>
            </div>
            <div style="font-size:10px; font-family:helvetica; color:9D9D9D; padding-left:12;">
                only *.json files are accepted!
            </div>
        </form>
</div>

<br>

<div style="border:1px solid #d0d0d0; width:588; padding:20" align="center">
     <font color="BEBEBE" face="helvetica">Results of Prediction</font>
</div>
<br>
<br>
<div style="font-size:10px; font-family:helvetica; color:9D9D9D;" align="right">
    Northeastern University
</div>
<div style="font-size:10px; font-family:helvetica; color:9D9D9D;" align="right">
    INFO7390 Spring 2018
</div>
<div style="font-size:10px; font-family:helvetica; color:9D9D9D;" align="right">
    Team2: Qianli Ma & Chenlian Xu
</div>
</body>
